<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.booisajerk.getajobcards">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_business_time_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_business_time_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddCardActivity"
            android:label="@string/add_card_label"
            android:parentActivityName=".CardActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".CardActivity"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".EditCardActivity"
            android:label="@string/edit_card_label"
            android:parentActivityName=".CardActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/choose_category_label"
            android:parentActivityName=".CardActivity"
            android:theme="@style/AppTheme.ActionBar" />
    </application>

</manifest>