<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.booisajerk.getajobcards">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_business_time_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_business_time_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.booisajerk.getajobcards.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.booisajerk.getajobcards.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.booisajerk.getajobcards.AddCardActivity"
            android:label="Add a Card"
            android:parentActivityName=".CardActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.booisajerk.getajobcards.CardActivity"
            android:label="Get Smart"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.booisajerk.getajobcards.EditCardActivity"
            android:label="Edit a Card"
            android:parentActivityName=".CardActivity"
            android:theme="@style/AppTheme.ActionBar" />
    </application>

</manifest>